@model IEnumerable<Desafio_Framework.Models.CidadeViewModel>
@using Desafio_Framework.Models
@using Desafio_Framework.Code

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Cidade</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditCidadeModal" data-toggle="modal" asp-action="AddEditCidade" data-target="#modal-action-cidade" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Cidade
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Estado</th>
                    <th>Editar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>

                        <td>
                            <a id="editCidadeModal" data-toggle="modal" asp-controller="Cidade" asp-action="AddEditCidade" asp-route-id="@item.Id" data-target="#modal-action-cidade"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteCidadeModal" data-toggle="modal" asp-controller="Cidade" asp-action="DeleteCidade" asp-route-id="@item.Id" data-target="#modal-action-cidade" 
                               class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
@Html.PartialAsync("_Modal", new BootstrapModel { ID = "modal-action-cidade", AreaLabeledId = "modal-action-cidade-label", Size = ModalSize.Medium })
@section scripts
{
    <script src="~/js/cidade-index.js" asp-append-version="true"></script>
}